
.myfont {
  font-size: 40px;
  font-family: "Gloria Hallelujah", cursive;
  margin-bottom: 40px;
  padding-bottom: 24px;
  border-bottom: 5px solid;
  border-bottom-color: #ff3582;
  border-bottom-right-radius: 1.5em 0.5em;
  border-bottom-left-radius: 1.5em 0.5em;
}

.btn-add-apperence {
  background: #b7dbff;
  font-family: "Nova Square", cursive;
  color: #346d91;
}

.mdl-grid.center-items {
  justify-content: center;
}

.mdl-grid form {
  max-width: 400px;
  border-left: thick double #32a1ce;
}
.grid-align-right {
  justify-content: right;
}
.grid-align-right .mdl-chip {
  background: #4cc0ff;
  color: white;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.hide {
  overflow: hidden;
  max-width: 800px;
  flex: 1 1 auto;
  margin-bottom: 1%;
  border-radius: 8% / 10%;
  border-left: 10px ridge #6bd0d6;
  border-right: 10px ridge #6bd0d6;
}
.imsg-pool {
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 30px;
}
.imsg-pool .mdl-grid {
  margin: 0 10px;
}

.mdl-grid .imsg{
  max-width: 80%;
}
.mdl-grid .imsg .mdl-chip{
  width: 100%;
  overflow: auto;
}
.imsg .mdl-chip .mdl-chip__text {
  overflow-x: auto;
  font-size: 16px;
  width: inherit;
  white-space: normal;
}

/*
.mdl-grid .imsg:nth-child(1n)::after {
  content: '';
  width: 100%;
  display: block;
}*/
.newline-spacer {
  flex-grow: 1;
  width: 100%;
}
