

.profile-section {
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  -webkit-flex-grow: 1;
  ms-flex-positive: 1;
  flex-grow: 1;
}

.profile-section h3 {
  font-family: "Quicksand", sans-serif; 
}


.blah-drawer {
  background: white;
  padding: 24px 0;
  flex-direction: column;
  -webkit-flex-shrink: 0;
      -ms-flex-shrink: 0;
          flex-shrink: 0;
  z-index: 1;
}

.blah-drawer a {
  text-decoration: none;
  color: #8c8c8c;
  font-size: 16px;
}
.blah-drawer a.is-active {
  color: #ff8e68;
}

@media (width > 835px) {
  .blah-drawer {
    max-width: 200px;
    min-height: 320px;
    height: 88vh;
  }
  .blah-drawer .blah-link {
    position: relative;
    min-height: 20px;
    display: table;
    line-height: 48px;
    margin: 8px;
    padding-left: 24px;
    width: 90%;
  }
}

@media (width <= 835px) {
  .blah-drawer .blah-link {
    position: relative;
    margin: 1px 10px;
    overflow-x: visible;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  .blah-drawer .blah-link:last-child {
    padding-right: 20px;
  }
  .blah-drawer {
    display: flex;
    display: -webkit-flex;
    
    -webkit-flex-direction: row;
            flex-direction: row;
    overflow: auto;
  }
}


/*.section-deco ul {
  border-left: 5px groove;
  padding: 1px 0px;
} */
.section-deco ul li:first-child {
  padding-top: 0px;
}
.section-deco ul li:last-child {
  padding-bottom: 0px;
}
.section-deco li {
  min-height: 20px;
  
}
.section-deco li span {
  padding: 5px 16px;
  border-left: 4px solid #0ed381;
}


/* Fade-in effect according to here: https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load */
.profile-section section {
  display: block;
  -webkit-animation: fadein 0.8s;
     -moz-animation: fadein 0.8s;
          animation: fadein 0.8s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
